# Ignore everything by default
*

# But do not ignore directories (so git can traverse into folders like 'shapes')
!*/

# Allow .cpp files
!*.cpp

# Optional: If you also want to keep your README.md
!README.md
!colors.txt
# VS Code specific files (optional, but good to keep local settings out)
.vscode

# macOS System Files
.DS_Store